body{
    margin: 0;
    padding: 0px;
}
ul, #main-image{
float: left;
}
ul ,li{
    list-style: none;
}
ul li img{
    width: 200px;
    cursor: pointer;
}
 #main-image{
width: 500px;
}
#main-image img{
    width:400px;
    margin-top: 20px;
    margin-left: 50px;
    height: 660px;
}
